// Application-level settings for the Runner target.

// The application's name. By default this is also the title of the Flutter window.
PRODUCT_NAME = Callmor.ai Remote

// The application's bundle identifier
PRODUCT_BUNDLE_IDENTIFIER = ai.callmor.remote-client

// The copyright displayed in application information
PRODUCT_COPYRIGHT = Copyright © 2026 Callmor. All rights reserved.
